<ion-content class="page ion-padding">

  <h1 class="title">Welcome to LocalHelp</h1>

  <div class="actions">

    <ion-button expand="block" class="btn btn-language" (click)="chooseLanguage()">
      Choose Language
    </ion-button>

    <ion-button expand="block" class="btn btn-login" (click)="goToLogin()">
      Login
    </ion-button>

    <ion-button expand="block" class="btn btn-register" (click)="goToRegister()">
      Register
    </ion-button>

    <ion-button expand="block" fill="outline" class="btn btn-guest" (click)="continueAsGuest()">
      Continue as Guest
    </ion-button>

    <ion-button expand="block" fill="clear" class="btn btn-credits" (click)="goToCredits()">
      Credits
    </ion-button>

  </div>

</ion-content>
