<app-header title="Welcome"></app-header>
<ion-content class="welcome-page ion-padding hydrated">
  <h2 class="welcome-message">Welcome to LocalHelp</h2>
  <p class="welcome-subtitle">
    The app that helps connect people who need help with people who can offer it.
  </p>
  <div class="actions">

    <ion-button expand="block" class="btn btn-language" (click)="chooseLanguage()">
      Choose Language
    </ion-button>

    <ion-button expand="block" class="btn btn-login" (click)="goToLogin()">
      Login
    </ion-button>

    <ion-button expand="block" class="btn btn-recover" (click)="goToRecover()">
      Recover Password
    </ion-button>

    <ion-button expand="block" class="btn btn-register" (click)="goToRegister()">
      Register
    </ion-button>

    <ion-button expand="block" fill="outline" class="btn btn-guest" (click)="continueAsGuest()">
      Continue as Guest
    </ion-button>

    <ion-button expand="block" fill="clear" class="btn btn-credits" (click)="goToCredits()">
      Credits
    </ion-button>

  </div>
</ion-content>

